@import "tailwindcss";
@plugin "daisyui";

*{
  scrollbar-width: none;
}

.bg-gradient {
  background: radial-gradient(
    circle,
    rgba(27, 28, 59, 0.82) 5%,
    rgba(255, 255, 255, 0) 100%
  );
}
.signUp-bg-gradient {
  background: radial-gradient(
    circle,
    rgba(41, 27, 59, 0.82) 5%,
    rgba(255, 255, 255, 0) 100%
  );
}
.forgot-bg-gradient {
  background: radial-gradient(
    circle,
    rgba(33, 44, 48, 0.82) 5%,
    rgba(255, 255, 255, 0) 100%
  );
}
 .slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}